{% extends "landing.html" %}
{% load crispy_forms_tags %}

{% block title %}Uredi Vozilo{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Uredi Informacije o Vozilu</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Spremi Promjene</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
