{% extends "landing.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Ažuriraj profil</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block mt-3">Ažuriraj</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
